version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: beton
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - beton-net
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 10s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: ../docker/backend/Dockerfile
    volumes:
      - ./backend:/app
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/beton
      ENV: DEV
      BETON_ENCRYPTION_KEY: IuVGjJYXzjhUcVogiT3eBqVeinM1CMW7F_GXyBazot8=
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - beton-net

  streamlit:
    build:
      context: ./frontend
      dockerfile: ../docker/frontend/Dockerfile
    volumes:
      - ./frontend:/app
    environment:
      API_URL: http://backend:8000
    ports:
      - "8501:8501"
    depends_on:
      - backend
    networks:
      - beton-net

volumes:
  pgdata:


networks:
  beton-net:
